/* --------------------
   Loading
-------------------- */

#loading { }
#loading hgroup { height: 270px; background-position: center center; background-image: url('../images/phone/cgeomap-logo-phone-@2x.png'); background-size: 270px 270px; background-repeat: no-repeat; }
#loading hgroup h1 { font-weight: 600; font-size: 38px; padding-top: 154px; line-height: 38px; margin: 0; }
#loading hgroup h2 { margin: 0; padding-top: 6px; font-size: 22px; font-weight: 200; line-height: 22px; }
#loading hgroup h3 { color: var(--white); font-size: 14px; font-weight: 200; line-height: 14px; }
#loading hgroup a:active { background-color: transparent; }
#loading hgroup .loading { margin: 70px auto 10px auto; text-align: center; display: block; width: 60px; height: 60px; background-image: url('../images/pix/cgeomap-loader-bg-@2x.png'); background-size: 60px 60px; background-repeat: no-repeat; position: relative; }
#loading hgroup .loading img { width: 40px; height: 40px; position: absolute; top: 10px; left: 10px; }

/* intro */
.intro-phone #loading hgroup { background-image: none; }
.intro-phone #loading .intro { height: 100%; /*border: 1px solid #000;*/ overflow-y: auto; }
.intro-phone #loading .intro li { position: relative; display: block; margin-top: 36px; }
.intro-phone #loading .intro li.blank { opacity: .5; margin-top: 18px; }
.intro-phone #loading .intro li div { display: block; position: absolute; width: 100%; }
.intro-phone #loading .intro li div { margin-top: 210px; }
.intro-phone #loading .intro li.blank div { margin-top: 105px; }
.intro-phone #loading .intro li div p { font-size: 26px; line-height: 26px; padding-bottom: 12px; }
.intro-phone #loading .intro li.blank div p { font-size: 13px; line-height: 13px; padding-bottom: 6px; }
.intro-phone #loading .intro li div p small { font-size: 11px; }
.intro-phone #loading .data { display: none; }

 /* --------------------
   Select
-------------------- */

#select .wrapper { top: 8px; bottom: 70px; right: 8px; left: 8px; padding: 6px; background: var(--white); 
-webkit-box-shadow: 0px 2px 4px 0px var(--alpha-shadow);/*rgba(0,0,0,0.3)*/ -moz-box-shadow: 0px 2px 4px 0px var(--alpha-shadow);/*rgba(0,0,0,0.3)*/ box-shadow: 0px 2px 4px 0px var(--alpha-shadow);/*rgba(0,0,0,0.3)*/ }
#select .notfound {  background-image: url('../images/phone/not_found.png');  background-repeat: no-repeat; background-size: 250px 250px; background-position: center center; }
#select .found {  background-image: url('../images/phone/encontrado.png');  background-repeat: no-repeat; background-size: 250px 250px; background-position: center center; }
#select ul li { display: block; }
#select ul li h2 { position: relative; height: 40px; padding: 6px; margin: 0 0 6px 0; background: var(--bright-bg);/*#18c2b1*/ font-weight: bold; font-size: 18px; line-height: 40px; vertical-align: middle; color: var(--white); white-space: nowrap; }
#select h1.center { text-align: center; margin-top: 40px; font-weight: bold; font-size: 28px; line-height: 40px; vertical-align: middle; white-space: nowrap; }
#select ul li:last-child h2 { margin: 0; }
#select ul li h2:active { background: var(--bright-bg);/*#0bdec9*/ }
.welcome { position: absolute; bottom: 8px; right: 8px; left: 8px; height: 30px; padding: 16px 28px; background-color: var(--medium-bg); }
.welcome span { text-align: center; display: block; cursor: pointer;  background-color: var(--dark-bg); color: var(--white); padding: 0 0 3px 0; border-radius: 6px; font-size: 18px; font-weight: 500; vertical-align: middle; line-height: 30px; border: transparent solid 1px; white-space: nowrap; }
.welcome span:active { background-color: var(--bright-bg); }
.bigw { height: 46px; }
.bigw span { border-radius: 8px; }

/* --------------------
   Navigation
-------------------- */

#navigation hgroup { height: 60px; position: relative; background-image: url('../images/pix/cgeomap-top-banner-@2x.png');  background-repeat: no-repeat; background-size: 2048px 92px; background-position: bottom center; }
#navigation hgroup h1 { font-size: 20px; line-height: 58px; vertical-align: middle; }
#navigation .logo { display: inline; margin-top: -18px; padding: 0 6px; line-height: 58px; vertical-align: middle; }

/* bookmark & GPS */
#bookmark { background-color: var(--dark-bg); text-align: center; padding: 4px;}
#bookmark .wrapper {  display: none; position: relative; background-color: var(--white); border-radius: 7px; padding: 7px 7px 3px 7px; margin: 7px; }
#bookmark img { margin-top: 14px; }
#bookmark p:last-child { text-align: right; }
#bookmark .hide { 
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	font-size: 32px;
	font-family: "fontello";
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
}
#bookmark .hide:before { 
    color:var(--white);
    content: '\E802';
}
#bookmark .hide:after { 
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--grey-medium);
    content: '\E802A';
}
#bookmark .hide:hover:before { 
    color:var(--grey-medium);
}
#bookmark .hide:hover:after {
    color:var(--white);
}
#navigation hgroup .bkmrk, #navigation hgroup .gps{ font-size: 16px; line-height: 16px; background-color: var(--icons);/*#00adab*/ color: var(--alpha-white);/*rgba(255,255,255,0.8)*/ padding: 6px 8px; margin-top: 8px; border-radius: 10px; border: var(--medium-bg)/*#18c2b1*/ solid 1px; }
#navigation hgroup .bkmrk { -webkit-box-shadow: 0px 2px 4px 0px var(--alpha-shadow);/*rgba(0,0,0,0.3)*/ -moz-box-shadow: 0px 2px 4px 0px var(--alpha-shadow);/*rgba(0,0,0,0.3)*/ box-shadow: 0px 2px 4px 0px var(--alpha-shadow);/*rgba(0,0,0,0.3)*/ }
#navigation hgroup .bkmrk:active { border-color: var(--bright-bg);/*#0bdec9*/  background-color: var(--bright-bg);/*#0bdec9*/ color: var(--white); /*rgba(255,255,255,1)*/ }
#navigation hgroup .gps span { background-color: var(--alpha-white);/*rgba(255,255,255,0.8)*/ width: 8px; height: 8px; margin: 0 6px 2px 0; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}


/* --------------------
   Content
-------------------- */

#content .wrapper { padding: 48px 6px 6px 0; background: var(--alpha-white); }
#content .listado_nodos .header { display: block; }
#content .listado_nodos .header hgroup { position: relative; height: 40px; padding: 6px; margin: 0 0 6px 6px; background: var(--medium-bg);/*#18c2b1*/ }
#content .listado_nodos .header hgroup:active { background: var(--bright-bg);/*#0bdec9*/ }
#content .listado_nodos .header h2 { font-weight: bold; font-size: 18px; line-height: 40px; vertical-align: middle; color: var(--white); white-space: nowrap; }
@keyframes blink {  
	0% { color: var(--grey-dark); }
	50% { color: var(--white); }
	100% { color: var(--grey-dark); }
}
@-webkit-keyframes blink {
	0% { color: var(--grey-dark); }
	50% { color: var(--white); }
	100% { color: var(--grey-dark); }
}
#content .listado_nodos .header h2.blink {
	-webkit-animation: blink 2s linear infinite;
	-moz-animation: blink 2s linear infinite;
	animation: blink 2s linear infinite;
}
#content .listado_nodos .header h2.empty { color: var(--grey-dark); }
@keyframes fade {  
	0% { color: var(--acid-e); }
	100% { color: var(--grey-dark); }
}
@-webkit-keyframes fade {
	0% { color: var(--acid-e); }
	100% { color: var(--grey-dark); }
}
#content .listado_nodos .header h2.new {
	-webkit-animation: fade 4s linear 2;
	-moz-animation: fade 4s linear 2;
	animation: fade 4s linear 2;
}
#content .listado_nodos .header .info { display: blocK; position: absolute; top: 6px; right: 6px; height: 40px; padding-left: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c2b1+0,ffffff+37&1+0,0+100 */
background: -moz-linear-gradient(left, var(--transparent-medium-bg) /*rgba(24,194,177,0)*/ 0%, var(--full-medium-bg) /*rgba(24,194,177,1)*/ 30%, var(--full-medium-bg) /*rgba(24,194,177,1)*/ 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,var(--transparent-medium-bg) /*rgba(24,194,177,0)*/), color-stop(30%,var(--full-medium-bg) /*rgba(24,194,177,1)*/), color-stop(100%,var(--full-medium-bg) /*rgba(24,194,177,1)*/)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, var(--transparent-medium-bg) /*rgba(24,194,177,0)*/ 0%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 30%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, var(--transparent-medium-bg) /*rgba(24,194,177,0)*/ 0%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 30%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, var(--transparent-medium-bg) /*rgba(24,194,177,0)*/ 0%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 30%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 100%); /* IE10+ */
background: linear-gradient(to right, var(--transparent-medium-bg) /*rgba(24,194,177,0)*/ 0%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 30%,var(--full-medium-bg) /*rgba(24,194,177,1)*/ 100%); /* W3C */
}
#content .listado_nodos .header hgroup:active .info { 
/* para hacer este active haria falta un color extra o cambiar algo*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c2b1+0,ffffff+37&1+0,0+100 */
background: -moz-linear-gradient(left, var(--transparent-bright-bg) 0%, var(--full-bright-bg) 30%, var(--full-bright-bg) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,var(--transparent-bright-bg)), color-stop(30%,var(--full-bright-bg)), color-stop(100%,var(--full-bright-bg))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, var(--transparent-bright-bg) 0%,var(--full-bright-bg) 30%,var(--full-bright-bg) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, var(--transparent-bright-bg) 0%,var(--full-bright-bg) 30%,var(--full-bright-bg) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, var(--transparent-bright-bg) 0%,var(--full-bright-bg) 30%,var(--full-bright-bg) 100%); /* IE10+ */
background: linear-gradient(to right, var(--transparent-bright-bg) 0%,var(--full-bright-bg) 30%,var(--full-bright-bg) 100%); /* W3C */
}
#content .listado_nodos .header .info span { display: inline-block; font-weight: bold; font-size: 14px; vertical-align: middle; color: var(--white); }

#content .listado_nodos .header .info .distance { background-size: 18px 16px; background-repeat: no-repeat; background-position: right 3px; padding: 20px 10px 0 8px; line-height: 20px; height: 20px;  }

#content .listado_nodos .category_00 .header .info .distance { background-image: url('../images/icons/cgeomap-category-00-bird-@2x.png'); }
#content .listado_nodos .category_01 .header .info .distance { background-image: url('../images/icons/cgeomap-category-01-bird-@2x.png'); }
#content .listado_nodos .category_02 .header .info .distance { background-image: url('../images/icons/cgeomap-category-02-bird-@2x.png'); }
#content .listado_nodos .category_03 .header .info .distance { background-image: url('../images/icons/cgeomap-category-03-bird-@2x.png'); }
#content .listado_nodos .category_04 .header .info .distance { background-image: url('../images/icons/cgeomap-category-04-bird-@2x.png'); }
#content .listado_nodos .category_05 .header .info .distance { background-image: url('../images/icons/cgeomap-category-05-bird-@2x.png'); }

#content .listado_nodos .block_category { padding: 4px; margin-bottom: 4px; text-align: center; font-size: .6em; }
#content .listado_nodos .category_00 .block_category { background-color: #6f1902; }
#content .listado_nodos .category_01 .block_category { background-color: #1b8602; }
#content .listado_nodos .category_02 .block_category { background-color: #0079b3; }
#content .listado_nodos .category_03 .block_category { background-color: #e8032a; }
#content .listado_nodos .category_04 .block_category { background-color: #b81965; }
#content .listado_nodos .category_05 .block_category { background-color: #ff7000; }
#content .listado_nodos .block_category p { color: var(--bright-bg); font-style: italic; }

#content .listado_nodos .header .player, #content .listado_nodos .header .player_icon {
	font-family: "fontello";
	height: 40px; 
	line-height: 40px;
	position: relative;
}
#content .listado_nodos .header .player_icon:before, #content .listado_nodos .header .player:before { 
	content: '\E849';
	color:var(--white);
	line-height: 44px; 
	font-size: 26px; 
}
/*
#content .listado_nodos .header .player:after {
	color:var(--grey-dark);
	line-height: 44px; 
	font-size: 26px; 
	position: absolute;
	top: 0;
	left: 0;
}
*/
#content .listado_nodos .header .player_icon { 
	cursor: default;
}
#content .listado_nodos .header .player_icon:before { 
	content: '\E849';
}
#content .listado_nodos .header .player:before { 
	content: '\E83B';
}
/*
#content .listado_nodos .header .player:after { 
	content: '\E83C';
}
*/
#content .listado_nodos .header .player:hover:before, #content .listado_nodos .header .player:active:before {
	color:var(--grey-bright);
}
#content .listado_nodos .header .active:before { 
	content: '\E839';
}
/*
#content .listado_nodos .header .active:after { 
	content: '\E83A';
}
*/

#content .listado_nodos .header .player:active { background-position: -14px -47px; }
#content .listado_nodos .header .active { background-position: -57px -1px !important; }
#content .listado_nodos .header .active:active { background-position: -57px -47px !important; }
#content .listado_nodos .header .loading { position: absolute; left: 0; right: 0; height: 40px; margin: 0 auto; background: url('../images/pix/loader.gif') no-repeat; background-size: 40px 40px; background-repeat: no-repeat; background-position: center center; opacity: 0.4; filter: alpha(opacity=40); }
#content .listado_nodos .wrap_article { font-size: 1.2em; margin: 6px 0 6px 6px; text-align: justify; }
#content .listado_nodos .wrap_article .lien, #content .listado_nodos .wrap_article .fancybox { display: block; text-align: center; margin: 8px auto; }
#content .listado_nodos .wrap_article img { display: inline;  }

#content .wrapper .bottom { margin: 4px 0  0 6px; background-image: url('../images/pix/cgeomap-bottom-banner-@2x.png');  background-repeat: no-repeat; background-size: 2048px 1024px; background-position: top center; }

/* Modules  */
.audiovisuel header.block { display: none; }
.module { margin-bottom: 4px; position: relative; }
.module header, .module .content { padding: 6px 8px; background-color: var(--bright-bg); }
.module header { text-align: center; }
.module .content .wrap { font-size: 0.8em; }
.module img { border-radius: 4px; }
.media .content, .video .content { text-align: center; }

/* Player  */
.vhplab_player { text-align: center; }
.vhplab_player ul { height: 42px; line-height: 42px; width: 96%; border-radius: 6px; font-size: 1em; }
.vhplab_player ul li { 
	height: 38px;
}
.vhplab_player ul li.play, .vhplab_player ul li.pause, .vhplab_player ul li.volume {
	height: 38px;
	font-size: 38px;
	line-height: 38px;
}
.vhplab_player ul li.volume {
	font-size: 44px;
	line-height: 38px;
}
.vhplab_player ul li.play { top: 2px; left: 0; }
.vhplab_player ul li.pause { top: 2px; left: 0; }
.vhplab_player ul li.volume { top: 2px; right: 0; }
.vhplab_player ul li.position { top: 0; left: 42px; }
.vhplab_player ul li.duration { top: 0; right: 12px; }
.vhplab_player ul li.progress_bar { top: 6px; left: 82px; right: 52px; height: 30px; border-radius: 6px; }
.vhplab_player ul li.progress_bar span { background-color: #27a9e1; border-radius: 4px; height: 30px; }
.vhplab_player ul li.position, .vhplab_player ul li.duration {
	font-size: 12px;
}

/* --------------------
   Footer
-------------------- */

footer .wrapper { position: relative; height: 0px; }
footer span { 
	display: block;
	position: absolute;
	top: 4px;
	margin: 0;
	width: 50px;
	height: 50px;
    font-size: 50px;
    line-height: 50px;
	font-family: "fontello";
    color: var(--icons);
    /* opacity: 0.65; */
    /*
    background: white;
    border-radius: 5px;
    */
}
footer .location { z-index: 9; position: absolute; top: -58px; right: 8px;}
footer .toggle { z-index: 10; position: absolute; top: -58px; left: 8px; }
footer .location_button, footer .location_reload {
	right: 0;
}
footer .location_button:before, footer .location_reload:before, footer .toggle_list:before, footer .toggle_map:before {
   -webkit-filter: var(--sombra);
    filter: var(--sombra);
}
footer .location_button:before {
    content: '\E805';
}
footer .location_reload:before {
    content: '\E806';
}
footer .location_reload:active, footer .location_button:active { 
    /* opacity: 1; */
}
footer .location_reload:active:after, footer .location_button:active:after, footer .toggle_list:active:after, footer .toggle_map:active:after { 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color:var(--white);
}
footer .location_reload:active:after { 
    content: '\E806A';
}
footer .location_button:active:after { 
    content: '\E805A';
}
footer .loading { right: 0; top: 4px; background-image: url('../images/pix/cgeomap-loader-grey.gif') !important; background-size: 40px 40px !important; background-position: 5px 5px; background-repeat: no-repeat;}
footer .toggle_list, footer .toggle_map { 
	left: 0;
}
footer .toggle_list:before {
    content: '\E807';
}
footer .toggle_map:before {
    content: '\E808';
}
footer .toggle_list:active:after { 
    content: '\E807A';
}
footer .toggle_map:active:after { 
    content: '\E808A';
}


/* --------------------
   Map
-------------------- */


/* --------------------
   Leaflet
-------------------- */

.cgeomap .leaflet-popup-content-wrapper .toggle_content { display: block !important; }
.cgeomap a.leaflet-popup-close-button  { display: none; }