/* --------------------
   Navigation
-------------------- */

#navigation { top: 0; right: 0; width: 100%; }


/* --------------------
   Content
-------------------- */

#content { top: 47px; bottom: 71px; /* footer height (33) + content wrapper padding x2 (6) + 2 ? */ left: 0; width: 100%; }
#content .wrapper { overflow-y: scroll; /* has to be scroll, not auto */ -webkit-overflow-scrolling: touch; }

/* --------------------
   Footer
-------------------- */

footer { bottom: 0; right: 0; left: 0; width: 100%; }