/* --------------------
   General
-------------------- */

 * { padding: 0; margin: 0; }
 li { list-style-type: none; }
 body { overflow: hidden; }
 
 /* --------------------
   Loading
-------------------- */

#loading { z-index: 4; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }


/* --------------------
   Navigation
-------------------- */

#navigation { position: absolute; top: 0; right: 0; z-index: 3; width: 100%; }
#navigation .wrapper { position: relative; }


/* --------------------
   Content
-------------------- */

#content { position: absolute; top: 47px; bottom: 71px; /* footer height (33) + content wrapper padding x2 (6) + 2 ? */ left: 0; width: 100%; z-index: 1; }
#content .wrapper { position: relative; height: 100%; overflow-y: auto; overflow-x: hidden; }


/* --------------------
   Map
-------------------- */

#cgeomap { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }


/* --------------------
   Footer
-------------------- */

footer { position: absolute; bottom: 0; right: 0; left: 0; z-index: 2; width: 100%; }
footer .wrapper { position: relative; }