/* --------------------
   Navigation
-------------------- */

#navigation { top: 0; right: 0; width: 100%; }

/* gps */
#navigation hgroup .gps { position: absolute; top: -8px; left: 10px; }
#navigation hgroup .bkmrk { position: absolute; top: -8px; right: 10px; }

 /* --------------------
   Block User
-------------------- */

#block { z-index: 20; position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; display: none; }

/* --------------------
   Content
-------------------- */

#content { top: 0; bottom: 0; /* footer height (33) + content wrapper padding x2 (6) + 2 ? */ left: 0; width: 100%; }
#content .wrapper { overflow-y: scroll; overflow-x: hidden; /* has to be scroll, not auto */ -webkit-overflow-scrolling: touch; }

/* --------------------
   Footer
-------------------- */

footer { bottom: 0; right: 0; left: 0; width: 100%; }