/* --------------------
   General
-------------------- */

 * { padding: 0; margin: 0; }
 li { list-style-type: none; }
 html, body { overflow: hidden; }
 
 /* --------------------
   Loading
-------------------- */

#loading { z-index: 14; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

 /* --------------------
   Select
-------------------- */

#select { z-index: 15; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
#select .wrapper {  position: absolute; overflow-y: auto;  overflow-x: hidden; }


/* --------------------
   Navigation
-------------------- */

#navigation { position: absolute; z-index: 13; }
#navigation .wrapper { position: relative; }


/* --------------------
   Content
-------------------- */

#content { position: absolute; z-index: 11; }
#content .wrapper { position: relative; height: 100%; /* overflow-x: hidden; */ }


/* --------------------
   Map
-------------------- */

#cgeomap { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }


/* --------------------
   Footer
-------------------- */

footer { position: absolute; z-index: 12; }
footer .wrapper { position: relative; }