/* --------------------
   General
-------------------- */

/* pagination  */
.pagination .btn { position: relative; display: block; width: 40px; height: 40px; cursor: pointer; font-family: "fontello"; font-size: 40px; line-height: 40px; }
.pagination .next:before, .pagination .prev:before, .pagination .noNext:before, .pagination .noPrev:before { 
	color:var(--icons);
	-webkit-filter: var(--sombra);
	filter: var(--sombra);
	opacity: 0.65;
}
.pagination .next:before {
	content: '\E810';
}
.pagination .prev:before {
	content: '\E809';
}
.pagination .noNext:before, .pagination .noPrev:before {
	content: '\E811';
}
.pagination .noNext, .pagination .noPrev {
	cursor: default;
}
.pagination .next:hover:before, .pagination .next:active:before, .pagination .prev:hover:before, .pagination .prev:active:before { 
	opacity: 1; 
}
.pagination .next:hover:after, .pagination .next:active:after { 
	position: absolute;
	top: 0;
	left: 0;
	color:var(--white);
	content: '\E810A';
}
.pagination .prev:hover:after, .pagination .prev:active:after { 
	position: absolute;
	top: 0;
	left: 0;
	color:var(--white);
	content: '\E809A';
}
.pagination .noNext:hover:before, .pagination .noNext:active:before, .pagination .noPrev:hover:before, .pagination .noPrev:active:before {
	opacity: 0.65;
}
.pagination .noNext:hover:after, .pagination .noNext:active:after, .pagination .noPrev:hover:after, .pagination .noPrev:active:after {
	content: none;
}

.fancybox-transparent .fancybox-skin { background: transparent; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
.fancybox-transparent .fancybox-inner { overflow: visible !important; }
.iframe_wrapper { position: relative; width: 356px; height: 621px; overflow: hidden; background-image: url('../images/desktop/cgeomap-mobile-simulator-@2x.png'); background-size: 367px 640px; }
.iframe_wrapper iframe { position: absolute; width: 278px; height: 496px; top: 49px; left: 50px; }
#inline_content { display: none; }

/* wrappers */
#navigation .wrapper, #content .wrapper, .wrap_cartography, footer .wrapper { border: 1px solid var(--white); background: var(--alpha-white); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px var(--alpha-shadow); -moz-box-shadow: 3px 3px 6px var(--alpha-shadow); box-shadow: 3px 3px 6px var(--alpha-shadow); }

/* buttons */
.media .btn, .audio .btn, .video .btn, .submit input, .editer, #logout, #contributions ol li .delete{ color: var(--white); padding: 3px 6px; border-radius: 10px; font-size: 12px; line-height: 14px; border: transparent solid 1px; white-space: nowrap; }
#contributions ol li .delete { border-radius: 8px; font-size: 11px; line-height: 11px; }

.wrong { color: red; font-style: italic; }


/* --------------------
   Loading
-------------------- */

#loading .wrapper { position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-image: url('../images/pix/cgeomap-loading-bg-@2x.png'); background-size: auto auto; background-repeat: no-repeat; background-position: center center; }
#loading hgroup h1 { margin-top: 10%; }
#loading hgroup h1 span { display: block; margin: 0px auto; width: 340px; height: 525px; background-image: url('../images/desktop/cgeomap-loading-loop-back-@2x.png'); background-size: 340px 525px; background-repeat: no-repeat; position: relative; }
.sommaire #loading hgroup { height: 525px; background-position: center center; background-image: url('../images/desktop/cgeomap-loading-loop-back-@2x.png'); background-size: 336px 525px; background-repeat: no-repeat; }
.sommaire #loading hgroup .loading { top: 404px ; text-align: center; display: block; width: 60px; height: 60px; background-image: url('../images/pix/cgeomap-loader-bg-@2x.png'); background-size: 60px 60px; background-repeat: no-repeat; position: relative; }
.sommaire #loading hgroup .loading img { width: 40px; height: 40px; position: absolute; top: 10px; left: 10px; }

/* intro */
#loading .intro { margin-top: 173px; /*border: 1px solid #000;*/ width:200%; left: -50%; top: 60px; position: absolute; overflow: visible; }
#loading .intro li { display: inline-block; margin: 0 12px; position: relative; opacity: .5; cursor: pointer; }
#loading .intro li div { display: block; position: absolute; width: 100%; margin-top: 105px; }
#loading .intro li div p { font-size: 13px; line-height: 13px; padding-bottom: 6px; }
#loading .intro li div p small { font-size: 11px; }
#loading .data { display: none; }
 
#loading .editores { display: inline-block; position: absolute; bottom: 0px; right: 0px; color: var(--white); font-size: 16px; border: 2px solid var(--white); background-color: var(--bright-bg); border-radius: 8px; padding: 8px; margin: 12px; }
#loading .editores:hover{ /*color: var(--medium-bg); border-color: var(--medium-bg);*/ background-color: var(--dark-bg); border: 1px solid var(--medium-bg);}
 
 
/* --------------------
   Navigation
-------------------- */

#navigation .wrapper { padding: 16px; }
#navigation .logo { position: absolute; top: -160px; right: 0; }

#navigation .info { 
	display: block;
	width: 34px;
	height: 34px;
	position: absolute; top: 4px; right: 4px; 
	
}
#navigation .info:before {
    font-family: "fontello";
	font-size: 34px;
	line-height: 34px;
	color:var(--bright-bg);
	content: '\E803';
}

/* Preview */
#navigation .preview { 
	display: block;
	cursor: pointer;
	width: 104px;
	height: 26px;
	position: absolute;
	top: 10px;
	left: 12px; 
}
#navigation .preview span {
	display: inline-block;
	position: relative;
    font-family: "fontello";
	height: 26px;
	font-size: 26px;
}
#navigation .preview .switch p {
	display: inline-block;
	position: absolute;
    font-family: "fontello";
	height: 26px;
	font-size: 26px;
	top: 0;
	left: 0;
}
#navigation .preview .desktop:before {
	content: '\E825';
	color:var(--grey-dark);
}
#navigation .preview_active .desktop:before {
	color:var(--medium-bg);
}
#navigation .preview .desktop:after {
	content: '\E825A';
	color:var(--white);
	position: absolute;
	top: 0;
	left: 0;
}
#navigation .preview .switch {
	margin-left: 4px;
}
#navigation .preview .switch:before {
	content: '\E822';
	color:var(--white);
}
#navigation .preview .switch:after {
	content: '\E822A';
	color:var(--medium-bg);
	position: absolute;
	top: 0;
	left: 0;
}
#navigation .preview .switch p:before {
	content: '\E824';
	color:var(--acid-blue);
}
#navigation .preview:hover .switch p:before {
	content: '\E823';
	color:var(--bright-bg);
}
#navigation .preview_active .switch p:before {
	content: '\E823';
	color:var(--acid-blue);
}
#navigation .preview .phone:before {
	content: '\E826';
	color:var(--medium-bg);
}
#navigation .preview_active .phone:before {
	color:var(--acid-blue);
}
#navigation .preview .phone:after {
	content: '\E826A';
	color:var(--white);
	position: absolute;
	top: 0;
	left: 0;
}

#navigation .articles { margin: 2em auto; }
#navigation .articles .pagination { position: absolute; width: 348px; top: 0; }
#navigation .articles .pagination .btn { float: right; margin-left: 0; }
#navigation .articles li { margin: 0.8em 0 0 0.8em; }
#navigation .articles li h3 { font-size: 1em; line-height: 1em; }
#navigation .articles li a { cursor: pointer; }
#navigation .articles li span { font-size: 0.8em; }

.user .buttons { text-align: center; }
.user .buttons li { display: inline; padding: 0 8px; }
.user .buttons a { 
	position: relative;
	font-size: 0; 
	display: inline-block;
	width: 60px;
	height: 60px;
	opacity: 0.85;
}
.user .buttons a:before {
    font-family: "fontello";
	font-size: 60px;
	line-height: 60px;
	color:var(--icons);
    -webkit-filter: var(--sombra);
    filter: var(--sombra);
}
.user .buttons a:after {
    font-family: "fontello";
	font-size: 60px;
	line-height: 60px;
	color: var(--white);
	position: absolute;
	top: 0;
	left: 0;
}
.user .buttons a:hover {
	background-color: transparent; 
	opacity: 1;
}

.user .buttons .contact { 
	margin: 0 6px;
}
.user .buttons .contact:before { 
	content: '\E814';
}
.user .buttons .contact:hover:after, .user .buttons .contact:active:after {
	content: '\E814A';
}
.user .buttons .presskit:before {
	content: '';
}
.user .buttons .presskit:hover, .user .buttons .presskit:active { }
.user .buttons .twitter:before {
	content: '\E816';
}
.user .buttons .twitter:hover:after, .user .buttons .twitter:active:after {
	content: '\E816A';
}
.user .buttons .facebook:before {
	content: '\E815';
}
.user .buttons .facebook:hover:after, .user .buttons .facebook:active:after {
	content: '\E815A';
}
.user .buttons .login:before {
	content: '\E81F';
}
.user .buttons .login:hover, .user .buttons .login:active { }

/* Toggle Button */
#navigation .toggle_wrapper { position: absolute; bottom: -64px; width: 100%; }
#navigation .toggle_button { display: block; cursor: pointer; margin: 0 auto; width: 54px; height: 54px; text-align: center; font-family: "fontello"; font-size: 54px; }
#navigation .toggle_button:before {
	content: '\E802';
    color:var(--icons);
    -webkit-filter: var(--sombra);
    filter: var(--sombra);
	opacity: 0.85;
}
#navigation .toggle_button.closed:before {
    content: '\E801';
}
#navigation .toggle_button:hover:before, #navigation .toggle_button.closed:hover:before {
	opacity: 1;
}
#navigation .toggle_button:hover:after, #navigation .toggle_button.closed:hover:after{
	display: block;
    position: absolute;
    top: 0;
    color:var(--white);
}
#navigation .toggle_button:hover:after {
	content: '\E802A';
}
#navigation .toggle_button.closed:hover:after{
	content: '\E801A';
}



/* --------------------
   Content
-------------------- */

#content .toggle { 
	display: block;
	position: absolute;
	top: 40px;
	right: -46px;
	width: 40px;
	height: 80px;
	opacity: 0.85;
}
#content .toggle:before{
    font-family: "fontello";
    content: '\E812';
    font-size: 80px;
    color: var(--icons);
    -webkit-filter: var(--sombra);
    filter: var(--sombra);
}
#content .closed:before{
    content: '\E813';
}
#content .toggle:hover, #content .toggle:active, #content .closed:hover, #content .closed:active { 
	opacity: 1; 
}

#content .loading { display: block; position: absolute; top: 60px; right: -106px; background: url('../images/pix/cgeomap-content-loader-@2x.gif') no-repeat; width: 40px; height: 40px; background-size: 40px 40px; }

#content .wrapper {  }

/* User  */
#user { padding: 0; }
#user .data { height: 22px; line-height: 22px; font-size: 0.8em; padding-bottom: 16px; }
#user .data span { display: inline-block; }
#user .data span:before {
	font-family: "fontello";
	font-size: 26px;
	line-height: 32px;
	color: var(--icons);
	content: '\E81F';
	margin-right: 8px;
}

/* Utilities  */
#user .utilities { font-size: 0.75em; height: 0.75em; line-height: 0.75em; margin-bottom: 16px; }
#user .utilities li { float: left; margin-right: 6px; }
#user .utilities li:last-child { float: right; margin-right: 0; }
#user .utilities a { color: var(--grey-medium); padding: 2px 4px; }
#user .utilities a:hover, #user .utilities a:active, #user .utilities a.on { color: var(--grey-dark); text-decoration: underline; }  /* esto podria hacerse con todos los enlaces */

/* Login  */

#sending_login { }
#sending_login form {  background-color: var(--white); max-width: 340px; padding: 12px; 
    margin: 200px auto; border-radius: 5px; }
#sending_login #formulaire_login li:first-child {
    float: left;
}
#sending_login #formulaire_login li {
    float: right;
    }

#logout { float: right; display: inline-block; }
#logout, #formulaire_login .btn { background-color: var(--dark-bg); border-color: var(--grey-dark); }
#logout:hover, #logout:active, #formulaire_login .btn:hover, #formulaire_login .btn:active { background-color: var(--bright-bg); color: var(--grey-dark); }

#formulaire_login li { float: left; width: 160px; margin-left: 13px; text-align: center; padding: 0; }
#formulaire_login li:first-child { margin-left: 0px; }
#formulaire_login .form-control { padding: 3px 6px; width: 146px; }
#formulaire_login label { font-size: 0.7em; opacity: 0.6; display: block; }
#formulaire_login a { font-size: 0.7em; }
#formulaire_login li.submit { float: right; line-height: 30px; width: 100%; margin: 10px 0 4px 0; text-align: left; }

#login.btn { float: right; margin-top: 6px; }

#pass_securise { display: none !important; }

/* contributions  */
#contributions { padding-top: 6px; border-top: 1px solid var(--grey-bright); }
#contributions ol { }
#contributions ol li { position: relative; margin-bottom: 8px; padding-bottom: 6px; border-bottom: 1px dotted var(--grey-bright); }
#contributions ol li h3 { font-size: 0.8em; font-weight: 500; line-height: 18px; padding: 2px 0 0 6px; }
#contributions ol li a:hover { cursor: pointer; }
#contributions ol li img { position: absolute; left: 0; top: 0; }
#contributions ol li p { font-size: 0.8em; font-style: italic; padding: 2px 0 0 6px; }
#contributions ol li .delete { opacity: 0.7; position: absolute; top: 9px; right: 0; color: var(--grey-dark); background-color: var(--grey-bright); border-color: var(--grey-dark); }
#contributions ol li .delete:hover { opacity: 1; color: var(--white); background-color: var(--bright-e); }

/* header  */
.header { height: 60px; }
.header img { position: absolute; top: 0px; left: 0; }
.header .titre, .header .soustitre { margin-left: 60px; }
.header .titre { line-height: 38px; height: 38px; font-size: 22px; margin-top: 6px; }
.header .soustitre { line-height: 16px; height: 16px; font-size: 12px; }

.header .editer { position: absolute; top: -4px; right: -6px;  background-color: var(--grey-medium); border-color: var(--grey-dark); -webkit-box-shadow: 1px 1px 3px var(--alpha-shadow); -moz-box-shadow: 1px 1px 3px var(--alpha-shadow); box-shadow: 1px 1px 3px var(--alpha-shadow); }
.header .editer:hover, .header .editer:focus, .header .editer:active { background-color: var(--acid-e);  color: var(--grey-dark); }

.header .permalink { position: absolute; top: 0; right: 48px; font-size: 12px; color: var(--grey-medium); }

/* scroll  */
.mCSB_inside > .mCSB_container { margin-right: 8px !important;  }
article .content.mCustomScrollbar { right: -16px; }
#formulaire .scroll.mCustomScrollbar { right: -16px; }
#contributions.mCustomScrollbar { right: 0px; }

article .content.mCS_no_scrollbar { right: -16px; }
#formulaire .scroll.mCS_no_scrollbar { right: -16px; }
#contributions.mCS_no_scrollbar { right: 15px; }

/* Margin to scroll when scrolling */
article .content.mCustomScrollbar .texte p, #contributions.mCustomScrollbar ol, #formulaire .scroll.mCustomScrollbar .block_modules, article .content.mCustomScrollbar .module, article .content.mCustomScrollbar .block_category { margin-right: 8px; }

/* No margin when no scroll */
article .content.mCS_no_scrollbar .texte p, #contributions.mCS_no_scrollbar ol, #formulaire .scroll.mCS_no_scrollbar .block_modules { margin-right: 0px; }

/* Texte  */
.texte p { font-size: 0.9em; text-align: justify; }
.texte img { margin: 1em 0; }

/* Category */
.modules .block_category { padding: 4px; margin-bottom: 4px; text-align: center; font-size: .6em; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.modules .block_category p { color: var(--bright-bg); font-style: italic; }
.modules .category_00 { background-color: var(--category-00) !important; }
.modules .category_01 { background-color: var(--category-01) !important; }
.modules .category_02 { background-color: var(--category-02) !important; }
.modules .category_03 { background-color: var(--category-03) !important; }
.modules .category_04 { background-color: var(--category-04) !important; }
.modules .category_05 { background-color: var(--category-05) !important; }

/* Modules  */
.audiovisuel header.block, .audiovisuel .trash, .audiovisuel .margin { display: none; }
.module { margin-bottom: 4px; position: relative; }
.module header, .module .content { padding: 6px 8px; border: solid 1px var(--bright-bg); background-color: var(--alpha-bright-bg); }

.wrong-module header, .wrong-module .content { border-color: red !important;  }

.module header { padding-top: 8px; border-bottom: none; -webkit-border-top-right-radius: 12px; -webkit-border-bottom-top-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-topleft: 6px; border-top-right-radius: 6px; border-top-left-radius: 6px; }
.module .content { padding-top: 2px; border-top: none; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
.module .content .wrap { font-size: 0.8em; }
.module img { border-radius: 4px; }
.module .vimeo span, .module .youtube span { 
	font-family: "fontello";
	text-align: center;
	border-radius: 4px;
	display: block;
	position: absolute;
	top: 36px;
	left: 8px;
	right: 8px;
	bottom: 10px;
	opacity: 0;
	-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
	background-color: rgba(0, 0, 0, .3);
    transition: opacity 500ms;
}
.module .vimeo span:before, .module .youtube span:before { 
	content: '\E83B';
	color:var(--white);
	line-height: 120px; 
	font-size: 40px; 
}
.module .vimeo span:after, .module .youtube span:after {
	content: '\E83C';
	color:var(--grey-dark);
	line-height: 120px; 
	font-size: 40px; 
	position: absolute;
	top: 0;
	left: 0;
}
.module .vimeo:hover span, .module .youtube:hover span { opacity: 1; }
.link li a { display: block; position: relative; margin: 4px; padding: 6px 14px 10px 14px; background-color: var(--icons); -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.link li a:hover, .link li a:active {
	background-color: var(--acid-blue);
}
.link li a:after { 
	font-family: "fontello";
	color: var(--white);
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 22px !important;
}
.link li.internal a:after {
	content: '\E830';
}
.link li.external a:after {
	content: '\E84B';
}
.link li.submap a:after {
	content: '\E831';
}
.link li.iframe a:after {
	content: '\E832';
}

.link a { font-size: 12px; line-height: 16px; color: var(--white); }

/* qr  */
.qr { text-align: center; }
.qr img { width: 65%; display: block; height: auto; margin: 10px auto; }
.qr a { padding: 2px 6px; font-size: 0.7em; border-radius: 9px; border: var(--grey-dark) solid 1px; }

/* Player  */
.vhplab_player { text-align: center; margin-bottom: 4px; }
.vhplab_player ul { height: 24px; width: 96%; border-radius: 3px; font-size: 10px; }
.vhplab_player ul li.play, .vhplab_player ul li.pause { top: 2px; left: 1px; }
.vhplab_player ul li.volume { top: 2px; right: 1px; }
.vhplab_player ul li.position { top: 5px; left: 30px; }
.vhplab_player ul li.duration { top: 5px; right: 30px; }
.vhplab_player ul li.progress_bar { top: 5px; left: 60px; height: 12px; right: 60px; border-radius: 3px; }
.vhplab_player ul li.progress_bar span { background-color: #bfbfbf; border-radius: 2px; height: 12px; }
.vhplab_player ul li.play, .vhplab_player ul li.pause, .vhplab_player ul li.volume {
	height: 24px;
	font-size: 20px;
	line-height: 20px;
}
.vhplab_player ul li.volume {
	font-size: 22px;
	line-height: 20px;
}


/* --------------------
   Embed
-------------------- */

#embed .form-control { font-size: 0.8em; padding: 3px 6px;  white-space: nowrap; }
#embed h4 { font-size: 0.8em; margin-bottom: 4px; }
#embed .wrap_iframe code { display: block; padding: 4px; margin: 20px auto 4px auto; background-color: var(--grey-bright); white-space: pre-wrap; font-family: "Courier New", Courier, monospace; border: 1px solid  var(--grey-medium); border-radius: 4px; font-size: 0.8em; }
#embed .wrap_iframe .msg {  font-size: 0.7em; }
#embed .wrap_auteur, #embed .wrap_category, #embed .wrap_tags, #embed .wrap_meta_tags, #embed .wrap_recherche { margin: 12px 10px; }
#embed .wrap_iframe { margin: 20px 10px; }
#embed .wrap_recherche .form-control { width: 100%; }

/* --------------------
   Leaflet
-------------------- */

.leaflet-control-loading { display: none; background: url('../images/pix/cgeomap-content-loader-@2x.gif') no-repeat; width: 40px; height: 40px; background-size: 40px 40px; }

/* --------------------
   Formulaire
-------------------- */

/* header */
#formulaire form .header { position: relative; }
#formulaire form .titre { line-height: 44px; height: 44px; margin-top: 0; }
.header .titre input, .header .soustitre input { width: 100%; padding: 2px 4px; }

/* visibility */
.visibility { padding-top: 6px; border-top: 1px solid var(--grey-medium); margin-top: 6px; }
.visibility .field_box { text-align: right; margin-bottom: 8px; }
.visibility .field_box li { display: inline-block; line-height: 24px; }
.visibility .field_box li.label { 
	float: left;
	padding-left: 24px;
	position: relative;
	height: 24px;
}
.visibility .field_box li.label:before, .visibility .field_box li.label:after { 
	font-family: "fontello";
	font-size: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
}
.visibility .field_box li.label:before { 
	color:var(--grey-medium);
	content: '\E84D';

}
.visibility .field_box li.label:after { 
	color:var(--white);
	content: '\E84C';

}
.visibility .field_box li.label, .field_box label { font-size: 12px; line-height: 24px; vertical-align: middle; }
.visibility .field_box .btn { width: 24px; height: 24px; border-radius: 7px; border: 2px solid var(--grey-dark); margin: 0 2px 0 6px; background-color: transparent; }
.visibility .field_box .btn:hover, .field_box .btn:focus,.field_box .btn:active { background-color: var(--bright-bg); }
.visibility .field_box .selected {
	font-family: "fontello";
	color:var(--grey-dark);
	font-size: 22px; 
	line-height: 20px;
	position: relative;
}
.visibility .field_box .selected:before { 
	position: absolute;
	top: 0;
	left: -1px;
	content: '\E84A';
}

/* category */
.category { padding: 0; margin-top: 6px; margin-right: -16px; height: 212px; overflow: hidden; }
.category .field_box { text-align: left; margin-bottom: 8px; }
.category .field_box li { overflow: hidden; display: inline-block; position: relative; width: 110px; height: 44px; vertical-align: middle; border: 2px solid transparent; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; margin: 0 2px 6px 0; }
.category .field_box li:hover, .category .field_box li.selected { cursor: pointer; border-color: var(--grey-dark); /*background-color: var(--alpha-bright-bg);*/ }
.category .field_box li img { position: absolute; top: 0px; left: -2px; }
.category .field_box li span { display: block; position: absolute; top: 4px; right: 2px; width: 62px; float: right; text-align: left; font-size: 11px; line-height: 18px;  font-weight: bold; -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
.category .field_box li img:hover, .category .field_box li span:hover  { cursor: pointer; }

/* modules */
.module_button {
	position: absolute;
	right: -109px;
	width: 94px;
	height: 62px;
	cursor: pointer;
	font-family: "fontello";
    font-size: 62px;
    color: var(--grey-bright);
    -webkit-filter: var(--sombra);
    filter: var(--sombra);
    opacity: 0.65;
}
#add_media_module {
	top: 260px;
}
#add_media_module:before {
    content: '\E818';
}
#add_text_module {
	top: 190px;
}
#add_text_module:before {
    content: '\E817';
}
#add_audio_module {
	top: 330px;
}
#add_audio_module:before {
    content: '\E821';
}
#add_video_module {
	top: 400px;
}
#add_video_module:before {
    content: '\E819';
}
#add_link_module {
	top: 470px;
}
#add_link_module:before {
    content: '\E820';
}
#add_media_module:hover, #add_text_module:hover, #add_audio_module:hover, #add_video_module:hover, #add_link_module:hover {
 	opacity: 1;
}
#add_media_module:hover:after, #add_text_module:hover:after, #add_audio_module:hover:after, #add_video_module:hover:after, #add_link_module:hover:after {
  	display: block;
    position: absolute;
    top: 0;
    color:var(--acid-blue);  
}
#add_media_module:hover:after {
    content: '\E818A';
}
#add_text_module:hover:after {
    content: '\E817A';
}
#add_audio_module:hover:after {
    content: '\E821A';
}
#add_video_module:hover:after {
    content: '\E819A';
}
#add_link_module:hover:after {
    content: '\E820A';
}

/* tgl */
.modules .tgl { display: none; }

#formulaire .modules li header h5 {
	cursor: pointer;
}
#formulaire .modules li header span {
	width: 100%;
	cursor: pointer;
	position: absolute;
	top: -4px;
	left: 0;
	height: 14px;
}
#formulaire .modules li header span:hover:after {
	position: absolute;
	top: 6px;
	text-align: center;
	font-family: "fontello";
	font-size: 8px;
	line-height: 8px;
	width: 100%;
	content: '\E84E';
	color:var(--grey-medium);
	opacity: 0.75;

}
/* delete */
.module .delete { 
	display: block; 
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
	font-family: "fontello";
	font-size: 22px;
	line-height: 28px;
}
.module .delete:before { 
	content: '\E804A';
	color:var(--acid-red);
}
.module .delete:hover:before { 
	content: '\E804';
}

/* texte */
.module textarea { width: 330px; resize: vertical; }

/* link */
form .link li { line-height: 20px; }
form .link ul { margin-bottom: 20px; }
.link .form-control { padding: 3px 6px; }
.link .add, .link .remove { display: block; width: 20px; height: 20px; text-align: center; font-weight: bold; } 
.link .remove { float: right; }
.link .add { position: absolute; bottom: 8px; right: 8px; }

/* fileupload */
.media .field_box, .media .value_box, .audio .field_box, .audio .value_box, .video .field_box, .video .value_box { text-align: center; }
.module .fileinput { overflow: hidden; background-color: var(--dark-bg); border-color: var(--grey-dark); color: var(--white); }
.module .fileinput:hover, .module .fileinput:focus, .module .fileinput:active { background-color: var(--bright-bg); }
.module .fileinput input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }

.module .remove_media {  opacity: 0.7; color: var(--grey-dark); background-color: var(--grey-bright); border-color: var(--grey-dark); }
.module .remove_media:hover, .module .remove_media:active {  opacity: 1; background-color: var(--bright-e); }
.module .remove_media span { color: var(--grey-dark); }
.module .remove_media:hover span, .module .remove_media:active span { color: var(--white); }

.module .progress {  height: 20px; overflow: hidden; background-color: var(--grey-bright); border-radius: 4px; -webkit-box-shadow: inset 0 1px 2px var(--alpha-soft-shadow); box-shadow: inset 0 1px 2px var(--alpha-soft-shadow); }
.module .progress-bar { float: left; width: 0; height: 100%; line-height: 20px; background-color: var(--medium-bg); -webkit-box-shadow: inset 0 -1px 0 var(--alpha-soft-shadow); box-shadow: inset 0 -1px 0 var(--alpha-soft-shadow); -webkit-transition: width .6s ease;  transition: width .6s ease; }

/* video */
.video fieldset, .media .field_box, .audio .field_box { display: block; position: relative; /* width: 100%;*/ min-height: 25px; }

.video .url_video { position: absolute; left: 0; top: 24px; }

.video ul.field_box { text-align: right; margin-bottom: 8px; }
.video ul.field_box li { display: inline-block; line-height: 24px; }
.video ul.field_box .btn { width: 24px; height: 24px; border-radius: 7px; border: 2px solid var(--grey-dark); margin: 0 2px 0 6px; background-color: transparent; }
.video ul.field_box .btn:hover, .field_box .btn:focus, .field_box .btn:active { background-color: var(--bright-bg); outline: 0; }
.field_box .btn::-moz-focus-inner { border: 0; }
.video ul.field_box .selected {
	font-family: "fontello";
	color:var(--grey-dark);
	font-size: 22px; 
	line-height: 20px;
	position: relative;
}
.video ul.field_box { margin-top: 20px; }
.video ul.field_box .selected:before { 
	position: absolute;
	top: 0;
	left: -1px;
	content: '\E84A';
}

/* cartography */
.wrap_cartography { }
.wrap_cartography li { display: block;  width: auto; float: left; margin-left: 18px; text-align: center; }
.wrap_cartography input, .wrap_cartography label { font-size: 0.8em; display: block; padding: 2px 4px; }

/* submit */
#sending_data { background: url('../js/fancybox/fancybox_overlay.png'); }
#sending_data div { background: url('../js/fancybox/fancybox_loading@2x.gif') center center no-repeat; background-size: 24px 24px; }
#formulaire .submit { position: absolute; bottom: -10px; right: 15px; }

#formulaire .submit input { background-color: var(--grey-medium); border-color: var(--grey-dark); -webkit-box-shadow: 1px 1px 3px var(--alpha-shadow); -webkit-box-shadow: 3px 3px 8px var(--alpha-shadow); -moz-box-shadow: 3px 3px 8px var(--alpha-shadow); box-shadow: 3px 3px 8px var(--alpha-shadow); }
#formulaire .submit input:hover, .btn-primary:focus, #formulaire .submit input:active { background-color: var(--acid-e);  color: var(--grey-dark); }

/* errors */
#formulaire .erreur_message { display: inline-block; width: 100%; text-align: center; font-size: 12px; color: var(--acid-red); font-style: italic; }


/* --------------------
   Footer
-------------------- */

footer .wrapper { min-height: 33px; padding: 6px; }
footer .credits img { position: absolute; top: 6px; left: 6px; }
footer .credits p:last-child { padding-left: 100px; font-size: 0.8em; }

