/* --------------------
   Navigation
-------------------- */

#navigation .wrapper { border-bottom: 1px solid #fff; background: rgba(255,255,255, 0.9); padding: 6px; -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4); box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4); }
#navigation hgroup h1 { font-size: 20px; line-height: 32px; vertical-align: middle; }
#navigation .logo { display: inline; padding: 0 6px; line-height: 32px; vertical-align: middle; }


/* --------------------
   Content
-------------------- */

#content .wrapper { padding: 6px 6px 6px 0; background: rgba(255,255,255, 0.9); }
#content .listado_nodos .header { display: block; }
#content .listado_nodos .header hgroup { position: relative; height: 40px; padding: 6px; margin: 0 0 6px 6px; background: #18c2b1; }
#content .listado_nodos .header hgroup:hover, #content .listado_nodos .header hgroup:active { background: #0bdec9; }
#content .listado_nodos .header h2 { font-weight: bold; font-size: 18px; line-height: 40px; vertical-align: middle; color: #fff; white-space: nowrap; }
#content .listado_nodos .header .info { display: blocK; position: absolute; top: 6px; right: 6px; height: 40px; padding-left: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c2b1+0,ffffff+37&1+0,0+100 */
background: -moz-linear-gradient(left, rgba(24,194,177,0) 0%, rgba(24,194,177,1) 30%, rgba(24,194,177,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(24,194,177,0)), color-stop(30%,rgba(24,194,177,1)), color-stop(100%,rgba(24,194,177,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* W3C */
}
#content .listado_nodos .header hgroup:hover .info, #content .listado_nodos .header hgroup:active .info { 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c2b1+0,ffffff+37&1+0,0+100 */
background: -moz-linear-gradient(left, rgba(11,222,201,0) 0%, rgba(11,222,201,1) 30%, rgba(11,222,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(11,222,201,0)), color-stop(30%,rgba(11,222,201,1)), color-stop(100%,rgba(11,222,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(11,222,201,0) 0%,rgba(11,222,201,1) 30%,rgba(11,222,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(11,222,201,0) 0%,rgba(11,222,201,1) 30%,rgba(11,222,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(11,222,201,0) 0%,rgba(11,222,201,1) 30%,rgba(11,222,201,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(11,222,201,0) 0%,rgba(11,222,201,1) 30%,rgba(11,222,201,1) 100%); /* W3C */
}
#content .listado_nodos .header .info span { display: inline-block; font-weight: bold; font-size: 14px; vertical-align: middle; color: #fff; }
#content .listado_nodos .header .info .distance { background-image: url('../images/icons/cgeomap-bird-@2x.png'); background-size: 26px 16px; background-repeat: no-repeat; background-position: right 3px; padding: 20px 10px 0 8px; line-height: 20px; height: 20px;  }
#content .listado_nodos .header .player_icon { width: 20px; line-height: 40px; height: 40px; background-image: url('../images/icons/cgeomap-player-icon-transparent-@2x.png'); background-size: 44px 44px; background-repeat: no-repeat; background-position: -12px 0; }
#content .listado_nodos .header .player { width: 20px; line-height: 40px; height: 40px; background-image: url('../images/icons/cgeomap-player-header-transparent-@2x.png'); background-size: 90px 90px; background-repeat: no-repeat; background-position: -14px -1px; }
#content .listado_nodos .header .player:active { background-position: -14px -47px; }
#content .listado_nodos .header .active { background-position: -57px -1px !important; }
#content .listado_nodos .header .active:active { background-position: -57px -47px !important; }
#content .listado_nodos .header .loading { position: absolute; height: 48px; width: 90%; margin: 0 auto; background-image: url('../images/icons/loader_mobile_116_content_header.gif'); background-size: 58px 58px; background-repeat: no-repeat; background-position: center center; opacity: 0.3; filter: alpha(opacity=30); }

#content .listado_nodos .wrap_article { font-size: 0.9em; margin: 6px 0 6px 6px; text-align: justify; }
#content .listado_nodos .wrap_article .lien, #content .listado_nodos .wrap_article .fancybox { display: block; text-align: center; margin: 8px auto; }
#content .listado_nodos .wrap_article img { display: inline;  }

/* Modules  */
.audiovisuel header.block { display: none; }
.module { margin-bottom: 4px; position: relative; }
.module header, .module .content { padding: 6px 8px; background-color: #94ffd9; }
.module header { text-align: center; }
.module .content .wrap { font-size: 0.8em; }
.module img { border-radius: 4px; }

/* Player  */
.vhplab_player { text-align: center; }
.vhplab_player ul { height: 42px; line-height: 42px; width: 96%; border-radius: 6px; font-size: 1em; }
.vhplab_player ul li { height: 38px; background-size: 448px 92px; background-image: url('../images/icons/cgeomap-player-buttons-@4x.png'); }
.vhplab_player ul li.play { top: 2px; left: 6px; width: 36px; background-position: -48px 0px; }
.vhplab_player ul li.pause { top: 2px; left: 6px; width: 36px; background-position: -182px 0px; }
.vhplab_player ul li.volume { top: 2px; right: 6px; width: 36px; background-position: -298px 0px; }
.vhplab_player ul li.position { top: 0; left: 40px; }
.vhplab_player ul li.duration { top: 0; right: 46px; }
.vhplab_player ul li.progress_bar { top: 6px; left: 84px; right: 88px; height: 30px; border-radius: 6px; }
.vhplab_player ul li.progress_bar span { background-color: #27a9e1; border-radius: 4px; height: 30px; }


/* --------------------
   Footer
-------------------- */

footer .wrapper { border-top: 1px solid #fff; background: rgba(255,255,255, 0.9); position: relative; height: 58px; -webkit-box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.4); box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.4); }
footer span { display: block; position: absolute; top: 4px; margin: 0; width: 50px; height: 50px; background-image: url('../images/icons/cgeomap-map-buttons-@2x.png'); background-size: 200px 200px; background-repeat: no-repeat; }
footer .location { z-index: 5; position: absolute; top: 0; right: 8px;}
footer .toggle { z-index: 6; position: absolute; top:0; left: 8px; }
footer .location_button { right: 0;  background-position: 0px -50px; }
footer .location_button:hover { background-position: 0px 0px; }
footer .location_button:active { background-position: -50px 0px; }
footer .location_reload { right: 0; background-position: -100px -50px; }
footer .location_reload:hover { background-position: -100px 0px; }
footer .location_reload:active { background-position: -150px 0px; }
footer .loading { right: 0; top: 0; background-image: url('../images/icons/loader.gif') !important; background-size: 40px 40px !important; background-position: 5px 5px; }
footer .toggle_list { left: 0; background-position: -100px -150px; }
footer .toggle_list:hover { background-position: -100px -100px; }
footer .toggle_list:active { background-position: -150px -100px; }
footer .toggle_map { left: 0; background-position: 0px -150px; }
footer .toggle_map:hover { background-position: 0px -100px; }
footer .toggle_map:active { background-position: -50px -100px; }

