/* --------------------
   General
-------------------- */

/* pagination  */
.pagination .btn { display: block; background-image: url('../images/icons/pagination-buttons.png'); background-repeat: no-repeat; background-size: 120px 60px; width: 30px; height: 30px; cursor: pointer; }
.pagination .next { background-position: -90px 0; }
.pagination .next:hover, .pagination .next:active { background-position: -90px -30px; }
.pagination .noNext { background-position: -60px 0px;  !important; }
.pagination .noNext:hover, .pagination .noNext:active { background-position: -60px -30px; !important; }
.pagination .prev { background-position: -30px -30px; }
.pagination .prev:hover, .pagination .prev:active { background-position: -30px 0; }
.pagination .noPrev { background-position: 0px -30px;  !important; }
.pagination .noPrev:hover, .pagination .noPrev:active { background-position: 0 0; !important; }


/* --------------------
   Navigation
-------------------- */

#navigation .wrapper { border: 1px solid #fff; background: rgba(255,255,255, 0.9); padding: 16px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }
#navigation .logo { margin: -160px -160px auto auto; }

#navigation .articles { margin-bottom: 2em; }
#navigation .articles .pagination { position: absolute; width: 348px; top: 0; }
#navigation .articles .pagination .btn { float: right; margin-left: 0.4em; }
#navigation .articles li { margin: 0.8em 0 0 0.8em; }
#navigation .articles li h3 { font-size: 1em; line-height: 1em; }
#navigation .articles li a { cursor: pointer; }
#navigation .articles li span { font-size: 0.8em; }

.user .buttons { text-align: center; }
.user .buttons li { display: inline; padding: 0 2px; }
.user .buttons a { font-size: 0; display: inline-block; width: 70px; height: 60px; background: url('../images/icons/cgeomap-user-buttons-@x2.png') no-repeat; background-size: 350px 120px; }
.user .buttons .contact { background-position: -280px 0; }
.user .buttons .contact:hover, .user .buttons .contact:active { background-position: -280px -60px; }
.user .buttons .presskit { background-position: -70px 0; }
.user .buttons .presskit:hover, .user .buttons .presskit:active { background-position: -70px -60px; }
.user .buttons .twitter { background-position: -140px 0; }
.user .buttons .twitter:hover, .user .buttons .twitter:active { background-position: -140px -60px; }
.user .buttons .facebook { background-position: -210px 0; }
.user .buttons .facebook:hover, .user .buttons .facebook:active { background-position: -210px -60px; }
.user .buttons .login { background-position: 0px 0; }
.user .buttons .login:hover, .user .buttons .login:active { background-position: 0px -60px; }


/* --------------------
   Content
-------------------- */

#content .toggle { display: block; position: absolute; top: 40px; right: -46px; background: url('../images/icons/toggle-button.png') no-repeat; width: 40px; height: 80px; background-size: 80px 160px; }
#content .toggle:hover, #content .toggle:active { background-position: 0 -80px; }
#content .closed { background-position: -40px 0 !important; }
#content .closed:hover, #content .closed:active  { background-position: -40px -80px !important; }

#content .loading { display: block; position: absolute; top: 60px; right: -106px; background: url('../images/icons/content-loader.gif') no-repeat; width: 40px; height: 40px; background-size: 40px 40px; }

#content .wrapper { border: 1px solid #fff; background: rgba(255,255,255, 0.9); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }

/* User  */
#user { padding: 0; }

/* Utilities  */
#user .utilities { font-size: 0.7em; height: 0.7em; line-height: 0.7em; margin-bottom: 6px; }
#user .utilities li { float: left; }
#user .utilities li:last-child { float: right; }
#user .utilities a { color: #cccccc; }
#user .utilities a:hover, #user .utilities a:active { color: #656364; }

/* Login  */
fieldset, .btn, .form-control { vertical-align: middle; background-image: none; display: inline-block; }
fieldset { border: none; }
.form-control { background-color: #fff; border: 1px solid #ccc; border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.form-control:focus { border-color: #641626; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(243, 165, 181, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(243, 165, 181, .6); }
.btn { white-space: nowrap; cursor: pointer; background-color: #fff; border: 1px solid transparent; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
#formulaire_login li { float: left; width: 160px; margin-left: 13px; text-align: center; padding: 0; }
#formulaire_login li:first-child { margin-left: 0px; }
#formulaire_login .form-control { padding: 3px 6px; width: 146px; }
#formulaire_login label { font-size: 0.7em; opacity: 0.6; display: block; }
#formulaire_login a { font-size: 0.7em; }
#formulaire_login li.submit_login { float: right; line-height: 30px; width: 100%; margin: 10px 0 4px 0; text-align: left; }
#formulaire_login li.submit_login .login { color: #fff; background-color: #b0c935; text-decoration: none; float: right; padding: 3px 10px; border-radius: 10px; margin-top: 6px; }
#pass_securise { display: none !important; }

/* Texte  */
.texte p { font-size: 0.9em; margin: 1em 0; text-align: justify; }
.texte img { margin: 1em 0; }

/* Modules  */
.modules li { margin-bottom: 4px; }
.modules li header, .modules li .content { padding: 6px 8px; border: solid 1px #c2c6cd; background-color: #eff0f2; }
.modules li header { border-bottom: none; -webkit-border-top-right-radius: 12px; -webkit-border-bottom-top-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-topleft: 6px; border-top-right-radius: 6px; border-top-left-radius: 6px; }
.modules li .content { padding-top: 2px; border-top: none; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
.modules li .content .wrap { font-size: 0.8em; }
.modules li img { border-radius: 4px; }


/* --------------------
   Footer
-------------------- */

footer .wrapper { min-height: 33px; border: 1px solid #fff; background: rgba(255,255,255, 0.9); padding: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }
footer .credits img { position: absolute; top: 6px; left: 6px; }
footer .credits p:last-child { padding-left: 100px; font-size: 0.8em; }

