/* --------------------
   General
-------------------- */

* { margin:0; padding:0; border:0; outline:0; font-size:100%; color: #264542; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
a { text-decoration: none; }
a:hover, a:active { background-color: #25fade; }
a.fancybox:hover, a.fancybox:active, a.lien:hover, a.lien:active, .fancybox-wrap a:hover, .fancybox-wrap a:active{ background-color: transparent; }

fieldset, .btn, .form-control { vertical-align: middle; background-image: none; display: inline-block; }
fieldset { border: none; }
.btn { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; -khtml-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; /* For some Androids */ }

.right { text-align: right; }
.right img, .center img { display: inline-block; padding: 0 10px; }

.hidden { display: none; }
.new { color: #18c2b1; font-style: italic; cursor: pointer; }


/* --------------------
   Loading
-------------------- */

#loading {  background: rgb(255,255,255);  }
#loading hgroup { color: #767576; text-align: center; }
#loading hgroup h1 { margin: 0 1em; font-weight: 300; margin-top: 20%; font-size: 1.8em; line-height: 1.2em; }
#loading hgroup h2 { margin: 0 2.6em; font-size: 1em; font-weight: 200; line-height: 0.9em; }
#loading hgroup a:hover, #loading hgroup a:active { background-color: transparent; }
#loading hgroup .loading { margin: 1em auto; text-align: center; display: block;width: 50px; height: 50px; background-image: url('../images/icons/map-buttons.png'); background-size: 200px 200px; background-repeat: no-repeat; position: relative; }
#loading hgroup .loading img { width: 40px; height: 40px; position: absolute; top: 5px; left: 5px; }


/* --------------------
   Navigation
-------------------- */

#navigation hgroup { text-align: center; }
#navigation hgroup a:hover, #navigation hgroup a:active { background-color: transparent;  }


/* --------------------
   Content
-------------------- */

/* input */
.form-control { background-color: #fff; border: 1px solid #ccc; border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.form-control:focus { border-color: #641626; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(243, 165, 181, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(243, 165, 181, .6); }


/* --------------------
   Player
-------------------- */

.vhplab_player { text-align: left; padding: 4px; }
.vhplab_player ul { position: relative; display: inline-block;  padding-left: 22px; height: 19px; width: 230px; vertical-align: middle; background-color: #32353B; border-radius: 3px; padding: 3px 3px 3px 25px; font-weight: normal; font-size: 10px; color: #f6f9ff; list-style-type: none; }
.vhplab_player ul li { margin: 0; padding: 0; position: absolute !important; top: 3px; height: 19px; cursor: pointer; background-color: transparent !important; background-repeat: no-repeat !important; background-size: 224px 46px !important; background-image: url('../images/icons/cgeomap-player-buttons-@2x.png') !important; }
.vhplab_player ul li.play { margin-top: 0 !important; width: 18px; left: 6px; background-position: -24px 0px !important; }
.vhplab_player ul li.pause { width: 18px; left: 6px; background-position: -91px 0px !important; }
.vhplab_player ul li.volume { width: 18px; right: 6px; background-position: -111px 0px; !important; }
.vhplab_player ul li.progress_bar { width: 136px; height: 12px; left: 60px; top: 5px; background-color: #ffffff; border: 1px solid #444343; border-radius: 3px; background-image: none !important; }
.vhplab_player ul li.position { top: 5px; left: 30px; background-image: none !important; }
.vhplab_player ul li.duration { top: 5px; right: 30px; background-image: none !important; }
.vhplab_player ul li.progress_bar span { display: block; position: absolute; background-repeat: repeat-x; background-color: #bfbfbf !important; border-radius: 2px; top: 0px; left: 0px; height: 12px; width: 0%; }


/* --------------------
   Map
-------------------- */

#cgeomap { background: #94ffd9; /*#18c2b1*/ }
.cgeomap .leaflet-popup-content-wrapper h2 { font-size: 2.6em; }
.cgeomap .leaflet-popup-content-wrapper h3 { display: none; }
.cgeomap .leaflet-popup-content-wrapper p { font-size: 1.2em; margin: 1em 0; }
.cgeomap .leaflet-popup-content-wrapper a.fancybox { display: block; margin-top: 1.2em; }


/* --------------------
   Footer
-------------------- */

