/* --------------------
   General
-------------------- */

/* pagination  */
.pagination .btn { display: block; background-image: url('../images/icons/pagination-buttons.png'); background-repeat: no-repeat; background-size: 120px 60px; width: 30px; height: 30px; cursor: pointer; }
.pagination .next { background-position: -90px 0; }
.pagination .next:hover, .pagination .next:active { background-position: -90px -30px; }
.pagination .noNext { background-position: -60px 0px;  !important; }
.pagination .noNext:hover, .pagination .noNext:active { background-position: -60px -30px; !important; }
.pagination .prev { background-position: -30px -30px; }
.pagination .prev:hover, .pagination .prev:active { background-position: -30px 0; }
.pagination .noPrev { background-position: 0px -30px;  !important; }
.pagination .noPrev:hover, .pagination .noPrev:active { background-position: 0 0; !important; }


/* --------------------
   Loading
-------------------- */

#loading hgroup h1 { margin-top: 10%; }
#loading hgroup h1 span { display: block; margin: 0px auto; width: 340px; height: 525px; background-image: url('../images/icons/gceomap-loading-loop-back-@2x.png'); background-size: 340px 525px; background-repeat: no-repeat; position: relative; }


/* --------------------
   Navigation
-------------------- */

#navigation .wrapper { border: 1px solid #fff; background: rgba(255,255,255, 0.9); padding: 16px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }
#navigation .logo { position: absolute; top: -160px; right: 0; }

#navigation .info { display: block; width: 34px; height: 34px; position: absolute; top: 4px; right: 4px; background: url('../images/icons/cgeomap-btn-info-video-@2x.png') no-repeat; background-size: 34px 34px;  }

#navigation .articles { margin: 2em auto; }
#navigation .articles .pagination { position: absolute; width: 348px; top: 0; }
#navigation .articles .pagination .btn { float: right; margin-left: 0.4em; }
#navigation .articles li { margin: 0.8em 0 0 0.8em; }
#navigation .articles li h3 { font-size: 1em; line-height: 1em; }
#navigation .articles li a { cursor: pointer; }
#navigation .articles li span { font-size: 0.8em; }

.user .buttons { text-align: center; }
.user .buttons li { display: inline; padding: 0 2px; }
.user .buttons a { font-size: 0; display: inline-block; width: 70px; height: 60px; background: url('../images/icons/cgeomap-user-buttons-@2x.png') no-repeat; background-size: 350px 120px; }
.user .buttons .contact { background-position: -280px 0; }
.user .buttons .contact:hover, .user .buttons .contact:active { background-position: -280px -60px; }
.user .buttons .presskit { background-position: -70px 0; }
.user .buttons .presskit:hover, .user .buttons .presskit:active { background-position: -70px -60px; }
.user .buttons .twitter { background-position: -140px 0; }
.user .buttons .twitter:hover, .user .buttons .twitter:active { background-position: -140px -60px; }
.user .buttons .facebook { background-position: -210px 0; }
.user .buttons .facebook:hover, .user .buttons .facebook:active { background-position: -210px -60px; }
.user .buttons .login { background-position: 0px 0; }
.user .buttons .login:hover, .user .buttons .login:active { background-position: 0px -60px; }

/* Toggle Button */
#navigation .toggle_wrapper { position: absolute; bottom: -64px; width: 100%; }
#navigation .toggle_button { display: block; margin: 0 auto; width: 54px; height: 54px; background-image: url('../images/icons/cgeomap-arrow-buttons-@2x.png'); background-size: 128px 123px; background-repeat: no-repeat; cursor: pointer; background-position: -71px -66px; }
#navigation .toggle_button:hover { background-position: -71px -3px; }
#navigation .toggle_wrapper .closed { background-position: -3px -3px; }
#navigation .toggle_wrapper .closed:hover { background-position: -3px -66px; }


/* --------------------
   Content
-------------------- */

#content .toggle { display: block; position: absolute; top: 40px; right: -46px; background: url('../images/icons/toggle-button.png') no-repeat; width: 40px; height: 80px; background-size: 80px 160px; }
#content .toggle:hover, #content .toggle:active { background-position: 0 -80px; }
#content .closed { background-position: -40px 0 !important; }
#content .closed:hover, #content .closed:active  { background-position: -40px -80px !important; }

#content .loading { display: block; position: absolute; top: 60px; right: -106px; background: url('../images/icons/content-loader.gif') no-repeat; width: 40px; height: 40px; background-size: 40px 40px; }

#content .wrapper { border: 1px solid #fff; background: rgba(255,255,255, 0.9); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }

/* User  */
#user { padding: 0; }
#user .data { height: 22px; line-height: 22px; font-size: 0.8em; padding-bottom: 16px; }
#user .data span { display: inline-block; padding-left: 28px; background: url('../images/icons/cgeomap-user-icon-@2x.png') no-repeat left center; background-size: 22px 22px; }
#logout { color: #fff; background-color: #767576; text-decoration: none; float: right; padding: 0 10px; border-radius: 10px; }

/* Utilities  */
#user .utilities { font-size: 0.75em; height: 0.75em; line-height: 0.75em; margin-bottom: 16px; }
#user .utilities li { float: left; margin-right: 6px; }
#user .utilities li:last-child { float: right; margin-right: 0; }
#user .utilities a { color: #cccccc; padding: 2px 4px; }
#user .utilities a:hover, #user .utilities a:active, #user .utilities a.on { color: #656364; }

/* Login  */
#formulaire_login .btn { white-space: nowrap; background-color: #fff; border: 1px solid transparent; }
#formulaire_login li { float: left; width: 160px; margin-left: 13px; text-align: center; padding: 0; }
#formulaire_login li:first-child { margin-left: 0px; }
#formulaire_login .form-control { padding: 3px 6px; width: 146px; }
#formulaire_login label { font-size: 0.7em; opacity: 0.6; display: block; }
#formulaire_login a { font-size: 0.7em; }
#formulaire_login li.submit { float: right; line-height: 30px; width: 100%; margin: 10px 0 4px 0; text-align: left; }
#login.btn { color: #fff; background-color: #b0c935; text-decoration: none; float: right; padding: 3px 10px; border-radius: 10px; margin-top: 6px; }
#pass_securise { display: none !important; }

/* contributions  */
#contributions { padding-top: 6px; border-top: 1px solid #ccc; }
#contributions ol { }
#contributions ol li { position: relative; margin-bottom: 8px; }
#contributions ol li h3 { font-size: 0.8em; font-weight: 500; line-height: 18px; padding: 2px 0 0 26px; }
#contributions ol li img { position: absolute; left: 0; top: 0; }
#contributions ol li .delete { opacity: 0.8; position: absolute; top: 0; right: 0; background-color: #transparent; padding: 2px 6px; font-size: 0.7em; border-radius: 9px; border: #264542 solid 1px; }
#contributions ol li .delete:hover { opacity: 1; background-color: #ff3e09; border-color: #ff3e09; color: rgba(255,255,255,1); }

/* header  */
.header { height: 60px; }
.header img { position: absolute; top: 0px; left: 0; }
.header .titre, .header .soustitre { margin-left: 60px; }
.header .titre { line-height: 38px; height: 38px; font-size: 26px; margin-top: 6px; }
.header .soustitre { line-height: 16px; height: 16px; font-size: 12px; }
.header .editer { position: absolute; top: -6px; right: -6px; color: #fff; background-color: #656364; border-color: #4a5458; -webkit-box-shadow: 2px 2px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 2px 2px 6px rgba(60, 60, 60, 0.5); box-shadow: 2px 2px 6px rgba(60, 60, 60, 0.5); }
.header .editer:hover, .header .editer:focus { background-color: #94ffd9; }
.header .editer:active { background-color: #878d96; }
.header .permalink { position: absolute; top: 0; right: 48px; font-size: 12px; color: #656364; }

/* scroll  */
article .content.mCustomScrollbar { right: -16px; }
#contributions.mCustomScrollbar { right: 0px; }
#formulaire .scroll.mCustomScrollbar { right: -16px; }
article .content.mCustomScrollbar .texte p, #contributions.mCustomScrollbar ol, #formulaire .scroll.mCustomScrollbar .block_modules { margin-right: 8px; }
article .content.mCS_no_scrollbar { right: 0px; }
#formulaire .scroll.mCS_no_scrollbar { right: 0px; }
#contributions.mCS_no_scrollbar { right: 15px; }
article .content.mCS_no_scrollbar .texte p, #contributions.mCS_no_scrollbar ol, #formulaire .scroll.mCS_no_scrollbar .block_modules { margin-right: 0px; }

/* Texte  */
.texte p { font-size: 0.9em; text-align: justify; }
.texte img { margin: 1em 0; }

/* Modules  */
.audiovisuel header.block, .audiovisuel .trash, .audiovisuel .margin { display: none; }
.module { margin-bottom: 4px; position: relative; }
.module header, .module .content { padding: 6px 8px; border: solid 1px #94ffd9; background-color: rgba(148,255,217,0.4); }
.module header { border-bottom: none; -webkit-border-top-right-radius: 12px; -webkit-border-bottom-top-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-topleft: 6px; border-top-right-radius: 6px; border-top-left-radius: 6px; }
.module .content { padding-top: 2px; border-top: none; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
.module .content .wrap { font-size: 0.8em; }
.module img { border-radius: 4px; }

/* qr  */
.qr { text-align: center; }
.qr img { width: 65%; display: block; height: auto; margin: 10px auto; }
.qr a { padding: 2px 6px; font-size: 0.7em; border-radius: 9px; border: #264542 solid 1px; }

/* Player  */
.vhplab_player { text-align: center; margin-bottom: 4px; }
.vhplab_player ul { height: 24px; width: 96%; border-radius: 3px; font-size: 10px; }
.vhplab_player ul li { height: 24px; background-size: 224px 46px; background-image: url('../images/icons/cgeomap-player-buttons-@2x.png'); }
.vhplab_player ul li.play { top: 3px; left: 6px; width: 18px; background-position: -24px 0px; }
.vhplab_player ul li.pause { top: 3px; left: 6px; width: 18px; background-position: -91px 0px; }
.vhplab_player ul li.volume { top: 3px; right: 6px; width: 18px; background-position: -111px 0px; }
.vhplab_player ul li.position { top: 5px; left: 30px; }
.vhplab_player ul li.duration { top: 5px; right: 30px; }
.vhplab_player ul li.progress_bar { top: 5px; left: 60px; height: 12px; right: 60px; border-radius: 3px; }
.vhplab_player ul li.progress_bar span { background-color: #bfbfbf; border-radius: 2px; height: 12px; }


/* --------------------
   Embed
-------------------- */

#embed .form-control { font-size: 0.8em; padding: 3px 6px;  white-space: nowrap; }
#embed h4 { font-size: 0.8em; margin-bottom: 4px; }
#embed .wrap_iframe code { display: block; padding: 4px; margin: 20px auto 4px auto; background-color: #f6f6f6; white-space: pre-wrap; font-family: "Courier New", Courier, monospace; border: 1px solid #ccc; border-radius: 4px; font-size: 0.8em; }
#embed .wrap_iframe .msg {  font-size: 0.7em; }
#embed .wrap_auteur, #embed .wrap_category, #embed .wrap_tags, #embed .wrap_meta_tags, #embed .wrap_recherche { margin: 12px 10px; }
#embed .wrap_iframe { margin: 20px 10px; }
#embed .wrap_recherche .form-control { width: 100%; }

.leaflet-control-loading { display: none; background: url('../images/icons/content-loader.gif') no-repeat; width: 40px; height: 40px; background-size: 40px 40px; }


/* --------------------
   Formulaire
-------------------- */

/* header */
#formulaire form .header { position: relative; }
#formulaire form .titre { line-height: 44px; height: 44px; margin-top: 0; }
.header .titre input, .header .soustitre input { width: 100%; padding: 2px 4px; }
 
/* buttons */
.media .btn, .audio .btn, .submit input, .editer { display: inline-block; padding: 3px 6px; border-radius: 8px; font-size: 0.8em; border: #fff solid 1px; }

/* visibility */
.visibility { padding-top: 6px; border-top: 1px solid #ccc; margin-top: 6px; }
.visibility .field_box { text-align: right; margin-bottom: 8px; }
.visibility .field_box li { display: inline-block; line-height: 24px; }
.visibility .field_box li.label { float: left; background-image: url('../images/icons/cgeomap-globe-@2x.png'); background-size: 24px 24px; padding-left: 24px; background-repeat: no-repeat; }
.visibility .field_box li.label, .field_box label { font-size: 0.8em; vertical-align: middle; }
.visibility .field_box .btn { width: 24px; height: 24px; background-size: 24px 24px; background-position: center center; border-radius: 7px; border: 2px solid #000; margin: 0 2px 0 6px; background-color: transparent; }
.visibility .field_box .btn:hover, .field_box .btn:focus,.field_box .btn:active { background-color: #f6ff8c; }
.visibility .field_box .selected { background-image: url('../images/pix/cgeomap-check-@2x.png'); }

/* modules */
.module_button { position: absolute; right: -109px; background-image: url('../images/icons/cgeomap-module-buttons-@2x.png'); background-size: 202px 282px; background-repeat: no-repeat; width: 94px; height: 62px; cursor: pointer; }
#add_link_module { background-position: 0px -219px; top: 510px; }
#add_text_module { background-position: 0px -73px; top: 290px; }
#add_media_module { background-position: 0px 0px; top: 360px; }
#add_audio_module { background-position: 0px -146px; top: 440px; }
#add_link_module:hover { background-position: -108px -219px; }
#add_text_module:hover { background-position: -108px -73px; }
#add_media_module:hover { background-position: -108px 0px; }
#add_audio_module:hover { background-position: -108px -146px; }

/* tgl */
.modules .tgl { display: none; }

#formulaire .modules li header.hover { background-image: url('../images/pix/handler.png'); background-repeat: no-repeat; background-position: center 4px; background-size: 20px 10px; }

/* delete */
.module .delete { display: block; position: absolute; top: 4px; right: 4px; cursor: pointer; background-image: url('../images/icons/cgeomap-btn-erase-@2x.png'); width: 26px; height: 26px; background-repeat: no-repeat; background-size: 52px 28px; background-position: -26px 0px; }
.module .delete:hover, .module .delete:active { background-position: 0 0px; }

/* texte */
.module textarea { width: 330px; resize: vertical; }

/* link */
form .link li { line-height: 20px; }
form .link ul { margin-bottom: 20px; }
.link .form-control { padding: 3px 6px; }
.link .add, .link .remove { display: block; width: 20px; height: 20px; text-align: center; font-weight: bold; } 
.link .remove { float: right; }
.link .add { position: absolute; bottom: 8px; right: 8px; }

/* fileupload */
.media .field_box, .media .value_box, .audio .field_box, .audio .value_box { text-align: center; }
.module .fileinput { overflow: hidden; color: #000; background-color: #d5deed; border-color: #c2c6cd; }
.module .fileinput:hover, .module .fileinput:focus { background-color: #cad4e5; }
.module .fileinput:active { color: #fff; background-color: #878d96; }
.module .fileinput input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
.module .remove_media { border-color: #ef4123; }
.module .remove_media:hover, .module .remove_media:active { background-color: rgba(239, 65, 35, .6); }
.module .remove_media span { color: #ef4123; }
.module .remove_media:hover span { color: #fff; }
.module .progress {  height: 20px; overflow: hidden; background-color: #f5f5f5; border-radius: 4px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1); }
.module .progress-bar { float: left; width: 0; height: 100%; line-height: 20px; background-color: #428bca; -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15); -webkit-transition: width .6s ease;  transition: width .6s ease; }

/* cartography */
.wrap_cartography { border: 1px solid #fff; background: rgba(255,255,255, 0.9); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }
.wrap_cartography li { display: block;  width: auto; float: left; margin-left: 18px; text-align: center; }
.wrap_cartography input, .wrap_cartography label { font-size: 0.8em; display: block; padding: 2px 4px; }

/* submit */
#sending_data { background: url('../js/fancybox/fancybox_overlay.png'); }
#sending_data div { background: url('../js/fancybox/fancybox_loading.gif') center center no-repeat; }
#formulaire .submit { position: absolute; bottom: -10px; right: 15px; }
#formulaire .submit input { color: #878d96; background-color: #94ffd9; border-color: #c2c6cd; -webkit-box-shadow: 3px 3px 8px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 8px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 8px rgba(60, 60, 60, 0.5); }
#formulaire .submit input:hover, .btn-primary:focus { background-color: #f6ff8c; }
#formulaire .submit input:active { color: #ffffff; background-color: #ffda8c; }


/* --------------------
   Footer
-------------------- */

footer .wrapper { min-height: 33px; border: 1px solid #fff; background: rgba(255,255,255, 0.9); padding: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); -moz-box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); box-shadow: 3px 3px 6px rgba(60, 60, 60, 0.5); }
footer .credits img { position: absolute; top: 6px; left: 6px; }
footer .credits p:last-child { padding-left: 100px; font-size: 0.8em; }

