/* --------------------
   General
-------------------- */

 * { color: #264542; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
a { text-decoration: none; }
a:hover, a:active { background-color: #25fade; }
a.fancybox:hover, a.fancybox:active, a.lien:hover, a.lien:active, .fancybox-wrap a:hover, .fancybox-wrap a:active{ background-color: transparent; }
.btn { cursor: pointer; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; /* For some Androids */ }

.right { text-align: right; }
.right img, .center img { display: inline-block; padding: 0 10px; }


/* --------------------
   Loading
-------------------- */

#loading {  background: rgb(255,255,255);  }
#loading hgroup { color: #767576; text-align: center; }
#loading hgroup h1 { margin: 0 1em; font-weight: 300; margin-top: 20%; font-size: 1.8em; line-height: 1.2em; }
#loading hgroup h2 { margin: 0 2.6em; font-size: 1em; font-weight: 200; line-height: 0.9em; }
#loading hgroup a:hover, #loading hgroup a:active { background-color: transparent; }
#loading hgroup .loading { margin: 1em auto; text-align: center; display: block;width: 50px; height: 50px; background-image: url('../images/icons/map-buttons.png'); background-size: 200px 200px; background-repeat: no-repeat; position: relative; }
#loading hgroup .loading img { width: 40px; height: 40px; position: absolute; top: 5px; left: 5px; }


/* --------------------
   Navigation
-------------------- */

#navigation .wrapper { border-bottom: 1px solid #fff; background: rgba(255,255,255, 0.9); padding: 6px; -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4); box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4); }

#navigation hgroup { text-align: center; }
#navigation hgroup h1 { font-size: 20px; line-height: 32px; vertical-align: middle; }
#navigation hgroup a:hover, #navigation hgroup a:active { background-color: transparent;  }
#navigation .logo { display: inline; padding: 0 6px; line-height: 32px; vertical-align: middle; }

/* --------------------
   Content
-------------------- */

#content .wrapper { padding: 6px 6px 6px 0; background: rgba(255,255,255, 0.9); overflow: auto; overflow-y: scroll; /* has to be scroll, not auto */ -webkit-overflow-scrolling: touch; }
#content .listado_nodos header hgroup { position: relative; height: 40px; padding: 6px; margin: 0 0 6px 6px; background: #18c2b1; }
#content .listado_nodos header h2 { font-weight: bold; font-size: 18px; line-height: 40px; vertical-align: middle; color: #fff; white-space: nowrap; }
#content .listado_nodos header .distance { display: blocK; position: absolute; top: 6px; right: 6px; font-weight: bold; font-size: 14px; line-height: 40px; height: 40px; vertical-align: middle; color: #fff; padding-left: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c2b1+0,ffffff+37&1+0,0+100 */
background: -moz-linear-gradient(left, rgba(24,194,177,0) 0%, rgba(24,194,177,1) 30%, rgba(24,194,177,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(24,194,177,0)), color-stop(30%,rgba(24,194,177,1)), color-stop(100%,rgba(24,194,177,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(24,194,177,0) 0%,rgba(24,194,177,1) 30%,rgba(24,194,177,1) 100%); /* W3C */
}
#content .listado_nodos .wrap_article { font-size: 0.9em; margin: 6px 0 6px 6px; text-align: justify; }
#content .listado_nodos .wrap_article .lien, #content .listado_nodos .wrap_article .fancybox { display: block; text-align: center; margin: 8px auto; }
#content .listado_nodos .wrap_article img { display: inline;  }

/* --------------------
   Map
-------------------- */

#cgeomap { background: #18c2b1; }
.cgeomap .window h2 { font-size: 2.6em; }
.cgeomap .window h3 { display: none; }
.cgeomap .window p { font-size: 1.2em; margin: 1em 0; }
.cgeomap .window a.fancybox { display: block; margin-top: 1.2em; }


/* --------------------
   Footer
-------------------- */

footer .wrapper { border-top: 1px solid #fff; background: rgba(255,255,255, 0.9); position: relative; height: 58px; -webkit-box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.4); box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.4); }
footer span { display: block; position: absolute; top: 4px; margin: 0; width: 50px; height: 50px; background-image: url('../images/icons/map-buttons.png'); background-size: 200px 200px; background-repeat: no-repeat; }
footer .location { z-index: 5; position: absolute; top: 0; right: 8px;}
footer .toggle { z-index: 6; position: absolute; top:0; left: 8px; }
footer .location_button { right: 0;  background-position: 0px -50px; }
footer .location_button:hover { background-position: 0px 0px; }
footer .location_button:active { background-position: -50px 0px; }
footer .location_reload { right: 0; background-position: -100px -50px; }
footer .location_reload:hover { background-position: -100px 0px; }
footer .location_reload:active { background-position: -150px 0px; }
footer .loading { right: 0; top: 0; background-image: url('../images/icons/loader.gif') !important; background-size: 40px 40px !important; background-position: 5px 5px; }
footer .toggle_list { left: 0; background-position: -100px -150px; }
footer .toggle_list:hover { background-position: -100px -100px; }
footer .toggle_list:active { background-position: -150px -100px; }
footer .toggle_map { left: 0; background-position: 0px -150px; }
footer .toggle_map:hover { background-position: 0px -100px; }
footer .toggle_map:active { background-position: -50px -100px; }
